.rating-badge {
  position: relative;
  left: 16px;
  bottom: 22px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 24px;
  background-color: black;
}

.rating-badge-vote {
  font-size: 14px;
  font-family: inherit;
}

.rating-badge-percentage {
  margin-top: -15%;
  font-size: 8px;
  font-family: inherit;
}